<title>Profiles</title>
<h1>Profiles</h1>
{% if profiles_list %}
    <ul>
    {% for profile in profiles_list %}
        <li>
            <a href="{% url 'profiles:show' username=profile.user.username %}">
                {{ profile.user.username }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No profiles are available.</p>
{% endif %}
<div><a href="{% url 'index' %}">Home</a></div>
<div><a href="{% url 'lettings:index' %}">Lettings</a></div>